RewriteEngine On

# move into pages when user enter /
RewriteBase /
RewriteRule ^$ pages/main.php [L]

# Rewrite requests for URLs that don't end in a file extension to the corresponding PHP file in /controllers/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ pages/$1.php [NC,L]

# error handling
ErrorDocument 404 /pages/error.php

